
a {
    text-decoration: none;
}

main {
    margin-top: 10%;
}


header {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 50px;
}

header ul, h4 {
  margin: 0;
}

.logo {
  padding-left: 0;
  font-size: 2.5rem;
}

.block {
    text-align: center;
    white-space: nowrap;
}

.block:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.centered {
    display: inline-block;
    vertical-align: middle;
}
.collapse {
  display: none;
  visibility: none; }

nav ul {
  margin: 1rem;
}

nav li {
    display: block;
    list-style: none;
    float: left;
    margin: 0;
}

nav li a {
    line-height: 2rem;
    padding-left: 1.5rem;
}

#header-actions li {
    display: block;
    list-style: none;
    margin: 0;
    float: left;
}

#navbar-toggle {
  position: relative;
  display: inline-block;
  padding: 1rem;
  border: none;
  cursor: pointer; }
  #navbar-toggle:hover {
    background-color: #282828; }
  #navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #787878; }
  #navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px; }

@media (min-width: 400px) {
  .collapse {
    display: inline-block !important;
    visibility: visible !important;
  }
  
  #navbar-toggle {
    display: none;
  }
}
