{% extends "base.html" %}
{% load thumbnail %}

{% block nav %}
<nav id="navbar-collapse" class="collapse u-pull-left">
  <ul class="u-cf">
    <li><a href="{% url 'profile:detail' %}">Profile</a></li>
    <li><a href="{% url 'library' %}">Library</a></li>
  </ul>
</nav>
{% endblock %}

{% block content %}
    <div class="main">
        <div class="photos">
            <div class="row">
            {% for photo in photos %}
                <div class="three columns">
                    <a href="{% url 'photo' pk=photo.id %}">
                        {% thumbnail photo.photo "200" as im %}
                        <img src="{{ im.url }}">
                        {% endthumbnail %}
                    </a>
                    <p>{{ photo.title }}</p>
                </div>
            {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="row">
            {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
