{% extends "base.html" %}
{% load images_filters %}

{% block nav_li %}
<li><a href="{% url 'profile:detail' %}">Profile</a></li>
<li><a href="{% url 'library' %}">Library</a></li>
{% endblock %}

{% block content %}
  {% if album|album_is_editable:user %}
    <form action="{% url 'album_edit' pk=album.id %}" method="post">{% csrf_token %}
      <label>Title: <input type="text" name="title"></label>
      <label>Description: <input type="text" name="description"></label>
      <label>Photos: <select name="photos" size="6" multiple="multiple">
        {% for photo in user.photos.all %}
        <option value="{{ photo.id }}">{{ photo.title }}</option>
        {% endfor %}
        </select>
      </label>
      <label>Published: <select name="published">
        <option value="private">Private</option>
        <option value="shared">Shared</option>
        <option value="public">Public</option>
        </select>
      </label>
      <label>Cover: <select name="cover">
        {% for photo in user.photos.all %}
        <option value="{{ photo.id }}">{{ photo.title }}</option>
        {% endfor %}
        </select>
      </label>
      <input type="submit" name="albumedit" value="Submit">
    </form>
  {% else %}
    <p>Not found</p>
  {% endif %}
{% endblock %}
