{% extends "base.html" %}
{% load thumbnail %}
{% load images_filters %}

{% block nav_li %}
<li><a href="{% url 'profile:detail' %}">Profile</a></li>
<li><a href="{% url 'library' %}">Library</a></li>
{% endblock %}

{% block content %}
  {% if media.0|album_is_authorized:user %}
    <div class="photos">
      <div class="row">
      {% for photo in media.1|authorized_photos:user %}
        <div class="three columns">
          <a href="{% url 'photo' pk=photo.id %}">
            {% thumbnail photo.photo "200" as im %}
            <img src="{{ im.url }}">
            {% endthumbnail %}
          </a>
          <p>{{ photo.title }}</p>
        </div><!-- end column -->
      {% if forloop.counter|divisibleby:4 %}
      </div><!-- end row -->
      <div class="row">
      {% endif %}
      {% endfor %}
      </div><!-- end row -->
    </div><!-- end photos -->
  {% else %}
    <p>Not found</p>
  {% endif %}
{% endblock %}
