{% extends "base.html" %}
{% load thumbnail %}
{% load staticfiles %}

{% block nav %}
<nav id="navbar-collapse" class="collapse u-pull-left">
  <ul class="u-cf">
    <li><a href="{% url 'profile:detail' %}">Profile</a></li>
  </ul>
</nav>
{% endblock %}

{% block content %}
    <div class="main">
        <div class="albums">
            <h3>Albums:</h3>
            <div class="row">
                {% for album in media.0 %}
                <div class="three columns">
                    <a href="{% url 'album' pk=album.id %}">
                        {% if album.cover %}
                        {% thumbnail album.cover.photo "200" as im %}
                        <img src="{{ im.url }}">
                        {% endthumbnail %}
                        {% else %}
                        <img src="{% static 'images/django_thumb.jpg' %}" alt="Django Unchained">
                        {% endif %}
                    </a>
                    <p>{{ album.title }}</p>
                </div>
            {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="row">
            {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="photos">
            <h3>Photos:</h3>
            <div class="row">
            {% for photo in media.1 %}
                <div class="three columns">
                    <a href="{% url 'photo' pk=photo.id %}">
                        {% thumbnail photo.photo "200" as im %}
                        <img src="{{ im.url }}">
                        {% endthumbnail %}
                    </a>
                    <p>{{ photo.title }}</p>
                </div>
            {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="row">
            {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
