{% extends "base.html" %}
{% load images_filters %}

{% block nav_li %}
<li><a href="{% url 'profile:detail' %}">Profile</a></li>
<li><a href="{% url 'library' %}">Library</a></li>
{% endblock %}

{% block content %}
  <form action="{% url 'photo_add' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    
    <div class="row">
      <div class="nine columns">
        <label for="id_title">{{ form.title.label }}</label>
        {{ form.title|add_class:'u-full-width' }}
      </div><!-- end column -->
      
      <div class="three columns">
        <label for="id_published">Visibility</label>
        {{ form.published }}
      </div><!-- end column -->
    </div><!-- end row -->
    
    <label for="id_description">{{ form.description.label }}</label>
    {{ form.description|add_class:'u-full-width' }}
    
    <div class="row">
      <div class="six columns">
        <label for="id_photo">{{ form.photo.label }}</label>
        {{ form.photo }}
      </div><!-- end column -->
    </div><!-- end row -->
    
    <input type="submit" class="button-primary" name="photoadd" value="Add Photo">
  </form>
{% endblock %}
