{% extends "base.html" %}
{% load images_filters %}

{% block nav_li %}
<li><a href="{% url 'profile:detail' %}">Profile</a></li>
<li><a href="{% url 'library' %}">Library</a></li>
{% endblock %}

{% block content %}
  <form action="{% url 'photo_edit' pk=photo.id %}" method="post">{% csrf_token %}
    <div class="row">
      <div class="nine columns">
        <label for="photo_title">Title</label>
        <input type="text" class="u-full-width" id="photo_title" name="title" placeholder="What's in a name. . ."/>
      </div><!-- end column -->
      <div class="three columns">
        <label>Visibility</label>
        <select name="published">
          <option value="private">Private</option>
          <option value="shared">Shared</option>
          <option value="public">Public</option>
        </select>
      </div><!-- end column -->
    </div><!-- end row -->
    <label for="photo_description">Description</label>
    <textarea name="description" id="photo_description" placeholder="Tell us the story. . ." class="u-full-width"></textarea>
    <input type="submit" class="button-primary" name="photoedit" value="Submit">
  </form>
{% endblock %}
