{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    {% block title %}
    <title>Django Imager</title>
    {% endblock %}
    <meta name="description" content="A simple photo sharing app built on Django.">
    <meta name="author" content="Jesse Klein and Jonathan Stallings">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href={% static "css/normalize.css" %}>
    <link rel="stylesheet" href={% static "css/skeleton.css" %}>
    <link rel="stylesheet" href={% static "css/style.css" %}>

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href={% static "images/favicon.png" %}>

  </head>
  <body>


    <!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="wrapper">
    
    <!-- Header
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      {% block header %}
      <header class="u-full-width">
        <div class="container">
          
        <div class="row">
          <div class="three columns">
            <a href='{% url "home" %}' class="logo">Django-Imager</a>
          </div>

          <div class="nine columns">
          
            {% block nav %}
            <nav id="navbar-collapse" class="collapse u-pull-left">
              <ul class="u-cf">
                <li><a href="/">About</a></li>
                <li><a href="https://github.com/jesseklein406/django-imager" target="_blank">Source</a></li>
              </ul>
            </nav>
            {% endblock %}
            
            {% block header_actions %}
            <ul id="header-actions" class="u-pull-right">
            {% if user.is_authenticated %}
              <li><h4 id="user-name">{{ user.username }}</h3></li>
              <li><a href='{% url 'auth_logout' %}' id="sign-out" class="button">Sign out</a></li>
            {% else %}
              <li><a href="/accounts/register/" id="sign-up" class="button button-primary">Sign up</a></li>
              <li><a href='{% url 'auth_login' %}' id="sign-in" class="button">Sign in</a></li>
            {% endif %}
            </ul>
            {% endblock %}
            
            <button id="navbar-toggle" class="u-pull-right">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
    
          </div><!-- end column -->
        </div><!-- end row -->
        </div><!-- end container -->
      </header>
      {% endblock %}
    
    <!-- Main
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <main>
        {% block content %}
        {% endblock %}
      </main>
    
    </div>

  <!-- End Document
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </body>
</html>
