{% extends "base.html" %}
{% load staticfiles %}

{% block nav %}
<nav id="navbar-collapse" class="collapse u-pull-left">
  <ul class="u-cf">
    <li><a href="{% url 'profile:detail' %}">Profile</a></li>
    <li><a href="{% url 'library' %}">Library</a></li>
  </ul>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    <img id="main-photo" src='{{ photo }}' alt="django unchained" class="u-max-full-width">
</div>
<div class="row">
    <div class="twelve columns">
        <h1>I'm Content</h1>
    </div>
</div>
{% endblock %}
